:root {
  --red: #c2272d;
  --dark-grey: #4f4f4f;
  --grey: #a09e9e;
  --light-grey: #d9d9d9;
  --white: #ffffff;
  background-color: var(--white);
}

#1a1a1a;
#262626;
#97d6e7;
#C4C4C4;
#fff;

#12F251;
#FB1809;

font-family: 'Sansita Swashed', cursive;
font-family: 'Mukta', sans-serif;